@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* navbar */

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #0A0A0A;
    border-radius: 0;
    z-index: 100;
    padding: 0 0.5rem;
}

.navbar .navbar-brand {
    font-weight: 500;
    font-size: 1.5rem;
    color: #F4F7F5;
    padding-left: 0.0625rem;
    
}

#nav-button {
    size: 0.5rem;
    border-style: none;
    border-width: 0;
    color: #F4F7F5;
}

.navbar .navbar-nav{
    margin-right: 0;
    float: right;
}


.navbar .navbar-nav li{
    list-style: none;
}    

.navbar .navbar-nav a {
    font-weight: 400;
    font-size: 100%;
    padding-left: 20px;
    color: #F4F7F5;
    text-decoration: none;
}

/* call-to-action */

.callout-container {
    height: 100vh;
    color: #0A0A0A;
    background-color: #F4F7F5;
    background-image: url('assets/images/invest-poster.png') no-repeat bottom right fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: center;
    align-items: center;
    justify-content: center;


    position: relative;
}

.callout-container .btn {
    color: #F4F7F5;
    background-color: #C40B08;
    border-color: #C40B08;
}

/* offer */

.offer {
    display: inline-block;
    width: 70%;
    
}

.offer-heading {
    justify-content: center;
}

    