@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* navbar */

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #0A0A0A;
    border: 0;
    border-radius: 0;
    z-index: 100;
    padding: 0 0.5rem;
}

.navbar .navbar-brand {
    font-weight: 500;
    font-size: 1.5rem;
    color: #F4F7F5;
    padding-left: 1px;
    
}

#nav-button .navbar-toggler-icon {
    size: 50%;
    border-style: none;
}

.navbar .navbar-nav{
    margin-right: 0;
    float: right;
}


.navbar .navbar-nav li{
    list-style: none;
}    

.navbar .navbar-nav a {
    font-weight: 400;
    font-size: 100%;
    padding-left: 20px;
    color: #F4F7F5;
    text-decoration: none;
}

button {
    margin-left: auto;
}
/* Jumbotron */

.jumbotron {
    background-color: #575A5E;
}

.jumbotron div h1, .jumbotron div p {
    color: #0A0A0A;
    justify-content: center;
}

.call-to-action {
    height: 100vh;

    background: url('assets/images/investment-numbers.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: -100;
}




